*{
    margin-left:0px;
    margin-right: 0px;
    
}
body {
    background-color:#3eb4c1;
}
.container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; 
    width:100%;
}
.name {
    padding: 5px 15px; 
}
#nav_links {
    margin: 15px;
    padding: 10px 20px;
    list-style: none;
    font-size:1.2em;
}
#navToHome, #navToBio, #navToTechnologies, #navToProjects {
    padding-right: 30px;
}
.main_nav, #nav_links {
    display: flex;
}
.nav_item {
    cursor: pointer;
    text-decoration: none;
}
.main_nav {
    flex-direction: row; 
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width:100%;
    color:white;
    background-color: black;
}
.main_header {
    display: flex;
    width:100%;
    height: 100%;
    flex-direction: column;
    text-align: center;
}
.name {
    font-size: 6em;
    margin-top:100px;
    padding-top: 100px;
    margin-bottom:20px;
    font-family: 'Playfair Display', serif;
}
.header_description {
    font-size: 2em;
    margin-top: 0px;
    font-family: 'Oswald', sans-serif;
}
#biopage {
    height: 60%;
    margin-bottom: 20px;
    padding-top :50px;
}
.name_title {
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
.description {
    font-size: 1.2em;
    text-align: justify;
    padding: 10px;
}
#technologiesPage{
    height: 40%;
    padding-top:50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.technologies_header {
    text-align: center;
    font-size: 2em;
    font-family: 'Lobster Two', cursive;
}
.technologies_list_container, .technologies_list {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}
.technologies_list {
    list-style: none;
    width: 100%;
}
.list_item {
    padding: 5px 20px;
}
.project_cards_container{
    padding-top:50px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.project_header {
    padding-top: 20px;
    text-align: center;
    font-size: 2em;
    font-family: 'Lobster Two', cursive;
}
.cardContainer {
    /* width: 48%; */
    display:block;
    /* margin:1.5% 0.5%; */
    text-align: center;
}
.page-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-shrink: 0;
    margin-bottom: 20px;
    padding-top:50px;
   
}
.footer_heading {
    font-family: 'Lobster Two', cursive;
    text-align: center;
    font-size: 2em;
}
.contact_links {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}