@import '../../styles/variables';

.project_cards_container{
  padding-top:85px;
  background-image: url('../../images/white-bg.jpg');
  background-size:cover;
}
.project_header {
  font-size: 2em;
  font-family: $font-family;
}
.projectsWrapper {
  display: inline-block;
  // position: relative;
  // margin:10px auto;
  // width:"450px";
  // height: "300px";
  // z-index: 1;
}
.cardContainer {
  width: 50%; 
  margin:1% 1%; 
}