@import "~bootstrap/scss/bootstrap";
$font-family:'Domine', serif;
*{
    margin-left:0px;
    margin-right: 0px; 
}
 .navbar-toggler-icon {
background-image : url('http://www.stickpng.com/assets/images/588a64e7d06f6719692a2d11.png');
}
.navbar-toggler {
    border : 1px solid #fff;
}
#nav_links {
    font-size:1.2em;
    max-width: 350px;
    margin: 0 auto;
}
#nav_links :hover {
    background-color: #ff80b3;
    text-decoration: none;
}
#navToHome, #navToBio, #navToTechnologies, #navToProjects, #navToContacts, #navToResume {
    background-color: #ff1a75;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    padding: 5px 10px;
    color: white;
}

.nav_item {
    cursor: pointer;
    text-decoration: none;
}
.main_nav {
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width:100%;
    color:white;
    background-color: black;
    z-index: 1;
}
.main_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    flex-direction: column;
    background-image: url('images/pretty-shiny-wallpaper-1.jpg');
    color: white; 
}
.name {
    font-size: 7em;
    margin-top:40px;
    padding-top: 100px;
    margin-bottom:20px;
    font-family: 'Tangerine', cursive;
}
.header_description {
    font-size: 2em;
    margin-top: 0px;
    font-family: $font-family;
}
#biopage {
    display: flex;
    max-height: 65%;
    // margin-bottom: 20px;
    padding-top :65px;
    background-image: url('images/white-bg.jpg');
    background-size:cover;
}
.bio-wrapper {
    display: flex;
    flex-direction: row;
}
.aboutMe{
    max-width: 60%;
    margin:1.5% 1.5%; 
}
.profile-pic {
    max-width: 45%;
    margin: 3.5% 4.5%;
}
.my-photo {
    border-radius: 10px 100px / 120px;
}
.name_title {
    font-family: $font-family;
    font-weight: bold;
    font-size: 2em;
}
.description {
    font-size: 1.2em;
    text-align: justify;
    padding: 10px;
}
#technologiesPage{
    height: 65%;
    padding-top:95px;
    background-color: black;
    color: white;
}
.technologies_header {
    font-size: 2em;
    font-family: $font-family;
    padding-bottom:30px;
}
.technologies_list_container {
    display: flex;
}
.technologies_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}
.list_item {
    padding: 5px 20px;
    display:inline-block;
    width: 12.5%;
    margin: 1%;
}
.project_cards_container{
    height:130%;
    padding-top:85px;
    background-image: url('images/white-bg.jpg');
    background-size:cover;
}
.project_header {
    font-size: 2em;
    font-family: $font-family;
}
.cardContainer {
    width: 45%; 
    display:inline-block;
    margin:1.5% 1.5%; 
    // text-align: center;
}
.page-footer {
    display: flex;
    flex-direction: column;
    padding-top:50px;
    color:white;
    background-image: url('images/contacts.jpg');
    background-size:100% 100%;
    height: 45%;
}
.footer_heading {
    font-family: $font-family;
    text-align: center;
    font-size: 2em;
    padding-bottom:40px;
}
.contact_links {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}
.arrow-container {
    position: relative;
    width: 24px;
    height: 24px;
    margin-top: 155px;
}
.arrow{
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
}
.arrow:first-child {
    animation: move 3s ease-out 1s infinite;
}
.arrow:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}
.arrow:before, .arrow:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}
.arrow:before {
    left: 0;
    transform: skew(0deg, 30deg);
}
.arrow:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}
@keyframes move {
    25% {
      opacity: 1;
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  .text {
    display: block;
    margin-top: 70px;
    margin-left: -50px;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
    font-family: $font-family;
  }
  
  @keyframes pulse {
    to {
      opacity: 1;
    }
}
// Media Queries
@media (min-width:992px) {
    #nav_links{
        max-width: unset;
        margin: unset;
    }
}
@media (min-width: 768px) {
    .main_header {
        width: 100%;
    }
}
